---
import Layout from "../layouts/Layout.astro";
import CardBlog from "../components/CardBlog.astro";
import { blogs } from "../data/blogData";
const pageTitle = "Blog";
---

<Layout pageTitle={pageTitle}>
  <h2>Blog</h2>
  <ul role="list" class="link-card-grid">
    {
      blogs.map((item) => (
        <li>
          <CardBlog
            image={item.image}
            title={item.title}
            body={item.body}
            link={item.link}
          />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  li {
    list-style: none;
  }
</style>
