---
import Layout from "../layouts/Layout.astro";
import CardProject from "../components/CardProject.astro";
import Modal from "../components/Modal.astro";
import { projects } from "../data/projectsData";
const pageTitle = "Projets";
---

<Layout pageTitle={pageTitle}>
  <h2>Projets</h2>
  <ul role="list" class="link-card-grid">
    {
      projects.map((item) => (
        <li>
          <button id={item.idmodal}>
            <CardProject
              image={item.image}
              title={item.title}
              body={item.body}
            />
          </button>

          <Modal triggerId={item.idmodal}>
            <h2>{item.titlemodal}</h2>
            <p>{item.article}</p>
            <h3 class="tech-used-title">Technos utilisées</h3>
            <ul class="ul-stack">
              {item.stackmodal.map((itemStack) => (
                <li>
                  <img
                    width="46"
                    height="46"
                    alt="Image stack"
                    src={itemStack}
                  />
                </li>
              ))}
            </ul>

            <p class="repoGithub">
              Lien vers le repo :{" "}
              <a href={item.github} target="_blank">
                GITHUB
              </a>
            </p>
            <p class="mediumLink">Lien medium prochainement ...</p>
          </Modal>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  h3 {
    font-size: 2rem;
  }

  .ul-stack {
    padding: 0;
    padding-top: 20px;
    display: flex;
    gap: 1rem;
  }

  .repoGithub {
    padding-top: 20px;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 0;
  }

  .mediumLink {
    /* font-size: large;
    font-weight: bolder; */
    margin: 0;
    font-style: italic;
  }

  .tech-used-title {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1em;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
  }

  button {
    background: transparent;
    border: 0;
    display: flex;
    color: white;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .img-modal {
    width: 60%;
  }

  a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
  }

  :global(.light) a {
    color: black;
  }
</style>
