---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Modal from "../components/Modal.astro";
const pageTitle = "Projets";

const projects = [
  {
    idmodal: "modal1-trigger",
    image: "/biomarket.png",
    title: "Biomarket",
    body: "Conception d'une application de gestion de stock pour une entreprise fictive en utilisant la stack MERN afin de valider mon titre de développeur web et web mobile.",
    article:
      "lorem ipsum dolor sit amet, consectetur adip element nisl, sed do eiusmod tempor incid id dolor. Ut enim ad minim veniam, eiusmod tempor incid id dolor. Lorem ipsum dolor sit amet con etiam. Lorem ipsum dolor sit amet co. lorem ipsum dolor sit amet, consectetur adip element nisl, sed do eiusmod tempor incid id dolor. Ut enim ad minim veniam, eiusmod tempor incid id dolor. Lorem ipsum dolor sit amet con etiam. Lorem ipsum dolor sit amet co. lorem ipsum dolor sit amet, consectetur adip element nisl, sed do eiusmod tempor incid id dolor. Ut enim ad minim veniam, eiusmod tempor incid id dolor. Lorem ipsum dolor sit amet con etiam. Lorem ipsum dolor sit amet co. lorem ipsum dolor sit amet, consectetur adip element nisl, sed do eiusmod tempor incid id dolor. Ut enim ad minim veniam, eiusmod tempor incid id dolor. Lorem ipsum dolor sit amet con etiam. Lorem ipsum dolor sit amet co",
    github: "https://github.com/RiwaneAberkane/Biomarket_MERN",
  },
  {
    idmodal: "modal2-trigger",
    image: "/restaurantApp.png",
    title: "Restaurant App",
    body: "Création d'une application React qui utilise les hooks afin d'enregistrer les restaurants préférés des utilisateurs via le stockage local.",
    github: "https://github.com/RiwaneAberkane/restaurant-app",
  },
  {
    idmodal: "modal3-trigger",
    image: "/selfCare.png",
    title: "CitatioNinja",
    body: "Développement d'une petite application en JavaScript qui génère des citations inspirantes pour égayer votre journée.",
    github: "https://github.com/RiwaneAberkane/self-care-center",
  },
  {
    idmodal: "modal4-trigger",
    image: "/maquetteSimplon.png",
    title: "Maquette Simplon",
    body: "Création d'un site web avec une version responsive en utilisant HTML et CSS, en m'inspirant d'une maquette Figma pour assurer une conception harmonieuse sur différentes tailles d'écrans.",
    github: "https://github.com/RiwaneAberkane/MaquetteSimplon",
  },
];
---

<Layout pageTitle={pageTitle}>
  <h2>Projets</h2>
  <ul role="list" class="link-card-grid">
    {
      projects.map((item) => (
        <li>
          <button id={item.idmodal}>
            <Card image={item.image} title={item.title} body={item.body} />
          </button>

          <Modal triggerId={item.idmodal}>
            <h2>{item.title}</h2>
            <p>{item.article}</p>
            <p>
              Lien vers le repo :{" "}
              <a href={item.github} target="_blank">
                GITHUB
              </a>
            </p>
          </Modal>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  h3 {
    font-size: 2rem;
  }
  button {
    background: transparent;
    border: 0;
    display: flex;
    color: white;
  }

  li {
    list-style: none;
  }

  .img-modal {
    width: 60%;
  }

  a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
  }
</style>
